environments:
  dev-keycloak:
    values:
      - version: 0.0.1
      - env.d/{{ .Environment.Name }}/values.secrets.yaml
  dev-dinum:
    values:
      - version: 0.0.1
      - env.d/{{ .Environment.Name }}/values.secrets.yaml
  dev:
    values:
      - version: 0.0.1
      - env.d/{{ .Environment.Name }}/values.secrets.yaml

repositories:
- name: bitnami
  url: registry-1.docker.io/bitnamicharts
  oci: true
- name: livekit
  url: https://helm.livekit.io

releases:
  - name: minio
    installed: {{ regexMatch "^dev.*" .Environment.Name | toYaml }}
    namespace: {{ .Namespace }}
    missingFileHandler: Warn
    chart: bitnami/minio
    version: 12.10.10
    values:
      - auth:
          rootUser: meet
          rootPassword: password
      - provisioning:
          enabled: true
          buckets:
            - name: meet-media-storage
              versioning: true
      - ingress:
          enabled: true
          hostname: minio-console.127.0.0.1.nip.io
          servicePort: 9001
          annotations:
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
            kubernetes.io/ingress.class: nginx
        extraVolumes:
          - name: mkcert
            secret:
              secretName: mkcert
        extraVolumeMounts:
          - mountPath: /certs/CAs/
            name: mkcert

  - name: redis
    installed: {{ regexMatch "^dev.*" .Environment.Name | toYaml }}
    missingFileHandler: Warn
    namespace: {{ .Namespace }}
    chart: bitnami/redis
    version: 18.19.2
    values:
      - auth:
          password: pass
        architecture: standalone

  - name: extra
    installed: {{ regexMatch "^dev.*" .Environment.Name | toYaml }}
    missingFileHandler: Warn
    namespace: {{ .Namespace }}
    chart: ./extra
    secrets:
      - env.d/{{ .Environment.Name }}/secrets.enc.yaml
    values:
    - env.d/{{ .Environment.Name }}/values.meet.yaml.gotmpl
    - addRedirect: {{ .Values | get "addRedirect" "False" }}
      enablePermanentRedirect: {{ .Values | get "enablePermanentRedirect" "False"}}
      oldDomain: {{ .Values | get "oldDomain" "demo.com" }}
      newDomain: {{ .Values | get "newDomain" "demo.com" }}

  - name: meet
    version: {{ .Values.version }}
    namespace: {{ .Namespace }}
    missingFileHandler: Warn
    chart: ./meet
    values:
      - env.d/{{ .Environment.Name }}/values.meet.yaml.gotmpl
      - env.d/{{ .Environment.Name }}/values.secrets.yaml
    secrets:
      - env.d/{{ .Environment.Name }}/secrets.enc.yaml

  - name: livekit
    installed: {{ regexMatch "^dev.*" .Environment.Name | toYaml }}
    missingFileHandler: Warn
    namespace: {{ .Namespace }}
    chart: livekit/livekit-server
    values:
      - env.d/{{ .Environment.Name }}/values.livekit.yaml.gotmpl
      - env.d/{{ .Environment.Name }}/values.secrets.yaml
    secrets:
      - env.d/{{ .Environment.Name }}/secrets.enc.yaml

  - name: livekit-egress
    installed: {{ regexMatch "^dev.*" .Environment.Name | toYaml }}
    missingFileHandler: Warn
    namespace: {{ .Namespace }}
    chart: livekit/egress
    values:
      - env.d/{{ .Environment.Name }}/values.egress.yaml.gotmpl
      - env.d/{{ .Environment.Name }}/values.secrets.yaml
    secrets:
      - env.d/{{ .Environment.Name }}/secrets.enc.yaml
